@font-face {
    font-family: 'space_grotesklight';
    src: url('./fonts/spacegrotesk-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* html{
    height: 100vh;
} */

body{
    font-family: 'space_grotesklight', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: fit-content;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #F0A202;
    color: #202C59;
}
.task-info{
    width: fit-content;
}
.task-info:hover, button{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}
.task-info h1, .task-info h2{
    font-size: 100%;
}
nav button:hover{
    background-color: #D95D39;
}
button:hover, .task-info:hover{
    text-decoration: underline;
}
.task-info:hover{
    filter: brightness(0) saturate(100%) invert(55%) sepia(70%) saturate(1121%) hue-rotate(8deg) brightness(104%) contrast(98%);
}
button{
    text-align: start;
}
.view{
    cursor: default;
}

nav{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #581F18;
    width: 20vw;
    height: 100vh;
    padding: 1%;
    position: fixed;
}
nav > h1{
    margin-bottom: 5%;
}

.add-task{
    height: 7%;
    align-self: flex-start;
    cursor: pointer;
}
.add-task:hover{
    filter: brightness(0) saturate(100%) invert(42%) sepia(62%) saturate(739%) hue-rotate(329deg) brightness(93%) contrast(90%);
}

.projects-section{
    margin-top: 2rem;
}
.projects-section > div{
    display: flex;
}
.projects-section > div > button{
    background-color: transparent;
    display: none;
    text-align: end;
}
.add-new-project-button{
    display: flex;
    justify-content: space-between;
}
.add-new-project-button:hover img{
    display: inline-flex;
}
.project-container{
    display: flex;
    flex-direction: column;
}
.project-container div:hover{
    background-color: #D95D39;
}
.project-container div{
    display: flex;
}
.project-button{
    width: 100%;
}
.add-project{
    display: none;
    width: 1.5vw;
    cursor: pointer;
}
.add-project:hover{
    filter: brightness(0) saturate(100%) invert(42%) sepia(62%) saturate(739%) hue-rotate(329deg) brightness(93%) contrast(90%);
}
.project-container div:hover .project-delete{
    display: inline-flex;
}
.project-delete{
    width: 1.5vw;
    cursor: pointer;
    display: none;
}
.project-delete:hover{
    filter: brightness(0) saturate(100%) invert(55%) sepia(70%) saturate(1121%) hue-rotate(8deg) brightness(104%) contrast(98%);
}

#content{
    padding: 3%;
    grid-column: 2 / 3;
}
#content > div{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
#content > h2{
    margin-bottom: 2%;
}

.task-container{
    height: 11vh;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    border-radius: 10px;
    padding: 10px;
}
.task-details-container{
    grid-row: 1/3;
}
.task-container:hover{
    background-color: #D95D39;
}
.invisible-svg{
    display: none;
}
.invisible-svg img:hover{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(55%) sepia(70%) saturate(1121%) hue-rotate(8deg) brightness(104%) contrast(98%);
}
.check-mark{
    height: 100%; 
    cursor: pointer;
    justify-self: end;
}
.task-container:hover .invisible-svg{
    display: flex;
    justify-content: end;
    height: 100%;
}
.title-priority{
    display: flex;
}
img{
    filter: brightness(0) saturate(100%) invert(15%) sepia(12%) saturate(4196%) hue-rotate(194deg) brightness(100%) contrast(94%);
}

dialog{
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    background-color: #F18805;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
input, textarea, select{
    border-radius: 10px;
    border: 3px solid #D95D39;
    background-color: #F0A202;
}
input:focus, textarea:focus, select:focus{
    border: 3px solid #202C59;
}
textarea{
    resize: none;
}
select{
    width: 100%;
    height: 50%;
}
label{
    font-weight: bold;
}


