@font-face {
    font-family: 'space_grotesklight';
    src: url('./fonts/spacegrotesk-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.task-info:hover, button{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}
nav button:hover{
    background-color: antiquewhite;
}
button:hover, .task-info:hover{
    text-decoration: underline;
}
button{
    text-align: start;
}
.view{
    cursor: default;
}
body{
    font-family: 'space_grotesklight', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
nav{
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}
.projects-section{
    margin-top: 2rem;
}
.projects-section > div{
    display: flex;
}
.projects-section > div > button{
    background-color: transparent;
    display: none;
    text-align: end;
}
.projects-section > div:hover > button{
    display: flex;
}
/* #content{
    
} */
#content > div{
    height: 90%;
    width: 90%;
}
.task-container{
    height: 11vh;
    width: 50vw;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%; 
}
.task-details-container{
    grid-row: 1/3;
}
.task-container:hover{
    background-color: antiquewhite;
}
.invisible-svg{
    display: flex;
}
.invisible-svg{
    display: none;
}
.invisible-svg img{
    cursor: pointer;
}
.check-mark{
    height: 70%;
    cursor: pointer;
}
.task-container:hover .invisible-svg{
    display: inline-flex;
}

